{% extends "layout.html.twig" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <div class="text-center">
        <h1>Hello from generator-slimapp!</h1>
        <p class="lead">Welcome to your brand new application! It comes complete with Slim, Twig, Doctrine, Tracy, and Bower! Happy hacking!</p>
    </div>
{% endblock %}